
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/

/tests/config/
/tests/coverage/
/tests/cypress/screenshots/
/tests/cypress/downloads/
/tests/cypress/videos/
/tests/files/
/tests/.env

/node_modules/
/tests/web/error.log
/locales/*.mo
/docker-compose.override.yaml
/.devcontainer/docker-compose.override.yaml
*.phar
.env
